.junction {
  border: solid 1px black;
  border-radius: 50%;
}

.layer {
  background-color: #ffffff;
}

.compositionLayer {
  @extend .layer;
  background-color: #ffffff;
}

.implementationLayer {
  @extend .layer;
  background-color: #ffe0e0;
}

.motivationLayer {
  @extend .layer;
  background-color: #e5e5ff;
}

.physicalLayer {
  @extend .layer;
  background-color: #97ff97;
}

.strategyLayer {
  @extend .layer;
  background-color: #ffffa7;
}

.coreLayer {
  @extend .layer;
}

.applicationLayer {
  @extend .coreLayer;
  background-color: #c2f0ff;
}

.businessLayer {
  @extend .coreLayer;
  background-color: #ffffcc;
}

.technologyLayer {
  @extend .coreLayer;
  background-color: #c9ffc9;
}

.element {
  border: solid 1px black;
}

.compositeElement {
  @extend .element;
}

.compositionElement {
  @extend .compositionLayer;
}

.structureElement {
  @extend .element;
}

.activeStructureElement {
  @extend .structureElement;
}

.internalActiveStructureElement {
  @extend .activeStructureElement;
}

.applicationElement {
  @extend .applicationLayer;
}

.collaboration {
  @extend .internalActiveStructureElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-collaboration.png') no-repeat top right !important;
    background-size: 27px !important;
  }
}

.externalActiveStructureElement {
  @extend .activeStructureElement;
}

.interface {
  @extend .externalActiveStructureElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-interface.png') no-repeat top right !important;
    background-size: 21px !important;
  }
}

.behaviorElement {
  @extend .element;
  border-radius: 10px;
  > .title {
    border-radius: 5px;
  }

}

.internalBehaviorElement {
  @extend .behaviorElement;
}

.function {
  @extend .internalBehaviorElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-function.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.interaction {
  @extend .internalBehaviorElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-interaction.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.process {
  @extend .internalBehaviorElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-process.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.event {
  @extend .behaviorElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-event.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.externalBehaviorElement {
  @extend .behaviorElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-service.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.elementWithTopRow:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  right: 1px;
  height: 1px;
  border-top: 1px solid black;
}

.elementWithBottomRow:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 1px;
  right: 1px;
  height: 1px;
  border-bottom: 1px solid black;
}


.passiveStructureElement {
  @extend .structureElement;
}

.businessElement {
  @extend .businessLayer;
}

.implementationElement {
  @extend .implementationLayer;
}

.motivationElement {
  @extend .motivationLayer;
}

.genericElement {
  @extend .element;
}

.physicalElement {
  @extend .physicalLayer;
}

.strategyElement {
  @extend .strategyLayer;
}

.technologyElement {
  @extend .technologyLayer;
}

.grouping {
  @extend .compositeElement;
  @extend .compositionElement;

  padding: 0 !important;
  background-color: transparent;
  border: 0;
  > svg.border > path {
    fill: #ffffff;
  }
  > .title {
    width: 75% !important;
    height: 18px !important;
  }

}

.location {
  @extend .compositeElement;
  @extend .compositionElement;
  background-color: #ffb973;
  > .title {
    background: rgba(black, 0.1) url('/media/node-location.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.applicationComponent {
  @extend .internalActiveStructureElement;
  @extend .applicationElement;

  div.x1 {
    @extend .applicationElement;
    position: absolute;
    top: 18px;
    left: -10px;
    width: 16px;
    height: 8px;
    border: 1px solid black;
  }

  div.x2 {
    @extend .applicationElement;
    position: absolute;
    top: 8px;
    left: -10px;
    width: 16px;
    height: 8px;
    border: 1px solid black;
  }

}

.applicationCollaboration {
  @extend .collaboration;
  @extend .applicationElement;
}

.applicationInterface {
  @extend .interface;
  @extend .applicationElement;
}

.applicationFunction {
  @extend .function;
  @extend .applicationElement;
}

.applicationInteraction {
  @extend .interaction;
  @extend .applicationElement;
}

.applicationProcess {
  @extend .process;
  @extend .applicationElement;
}

.applicationEvent {
  @extend .event;
  @extend .applicationElement;
}

.applicationService {
  @extend .externalBehaviorElement;
  @extend .applicationElement;
}

.dataObject {
  @extend .passiveStructureElement;
  @extend .applicationElement;
  @extend .elementWithTopRow;
}

.businessActor {
  @extend .internalActiveStructureElement;
  @extend .businessElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-actor.png') no-repeat top right !important;
    background-size: 27px !important;
  }
}

.businessRole {
  @extend .internalActiveStructureElement;
  @extend .businessElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-role.png') no-repeat top right !important;
    background-size: 27px !important;
  }
}

.businessCollaboration {
  @extend .collaboration;
  @extend .businessElement;
}

.businessInterface {
  @extend .interface;
  @extend .businessElement;
}

.businessProcess {
  @extend .process;
  @extend .businessElement;
}

.businessFunction {
  @extend .function;
  @extend .businessElement;
}

.businessInteraction {
  @extend .interaction;
  @extend .businessElement;
}

.businessEvent {
  @extend .event;
  @extend .businessElement;
}

.businessService {
  @extend .externalBehaviorElement;
  @extend .businessElement;
}

.businessObject {
  @extend .passiveStructureElement;
  @extend .businessElement;
  @extend .elementWithTopRow;
}

.contract {
  @extend .passiveStructureElement;
  @extend .businessElement;
  @extend .elementWithTopRow;
  @extend .elementWithBottomRow;
}

.representation {
  @extend .passiveStructureElement;
  @extend .businessElement;
  @extend .elementWithTopRow;
  background-color: transparent;
  border: 0;
  > svg.border > path {
    fill: #ffffcc;
  }
}

.product:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 75%;
  height: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.product {
  @extend .compositeElement;
  @extend .businessElement;
}

.workPackage {
  @extend .behaviorElement;
  @extend .implementationElement;
}

.deliverable {
  @extend .passiveStructureElement;
  @extend .implementationElement;
  background-color: transparent;
  border: 0;
  > svg.border > path {
    fill: #ffe0e0;
  }
}

.implementationEvent {
  @extend .event;
  @extend .implementationElement;
}

.plateau {
  @extend .compositeElement;
  @extend .implementationElement;
  padding-top: 10px !important;
  padding-right: 10px !important;
  background-color: transparent;
  border: 0;
  > svg.border > path {
    fill: #c9ffc9;
  }
  > .title {
    background: rgba(black, 0.1) url('/media/node-plateau.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.gap {
  @extend .passiveStructureElement;
  @extend .implementationElement;
  background-color: transparent;
  border: 0;
  > svg.border > path {
    fill: #c9ffc9;
  }
  > .title {
    background: rgba(black, 0.1) url('/media/node-gap.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.motivationSvg {
  @extend .motivationElement;
  background-color: transparent;
  border: 0;
  > svg.border > path {
    fill: #e5e5ff;
  }
}

.motivationSvgBase {
  @extend .motivationSvg;
  > div.title {
    border-radius: 10px;
  }
}

.stakeholder {
  @extend .externalActiveStructureElement;
  @extend .motivationSvgBase;
  > svg.border > path {
    fill: #feccff; // archimate 2.1 coloring
  }
  > .title {
    background: rgba(black, 0.1) url('/media/node-stakeholder.png') no-repeat top 2px right 2px !important;
    background-size: 25px !important;
  }
}

.driver {
  @extend .genericElement;
  @extend .motivationSvgBase;
  > svg.border > path {
    fill: #feccff; // archimate 2.1 coloring
  }
  > .title {
    background: rgba(black, 0.1) url('/media/node-driver.png') no-repeat top 2px right 2px !important;
    background-size: 15px !important;
  }
}

.assessment {
  @extend .genericElement;
  @extend .motivationSvgBase;
  > svg.border > path {
    fill: #feccff; // archimate 2.1 coloring
  }
  > .title {
    background: rgba(black, 0.1) url('/media/node-assessment.png') no-repeat top 2px right 2px !important;
    background-size: 15px !important;
  }
}

.goal {
  @extend .genericElement;
  @extend .motivationSvgBase;
  > .title {
    background: rgba(black, 0.1) url('/media/node-goal.png') no-repeat top 2px right 2px !important;
    background-size: 15px !important;
  }
}

.outcome {
  @extend .genericElement;
  @extend .motivationSvgBase;
  > .title {
    background: rgba(black, 0.1) url('/media/node-outcome.png') no-repeat top 2px right 2px !important;
    background-size: 17px !important;
  }
}

.principle {
  @extend .genericElement;
  @extend .motivationSvgBase;
  > .title {
    background: rgba(black, 0.1) url('/media/node-principle.png') no-repeat top 2px right 2px !important;
    background-size: 15px !important;
  }
}

.requirement {
  @extend .genericElement;
  @extend .motivationSvgBase;
  > .title {
    background: rgba(black, 0.1) url('/media/node-requirement.png') no-repeat top 2px right 2px !important;
    background-size: 22px !important;
  }
}

.constraint {
  @extend .genericElement;
  @extend .motivationSvgBase;
  > .title {
    background: rgba(black, 0.1) url('/media/node-constraint.png') no-repeat top 2px right 2px !important;
    background-size: 22px !important;
  }
}

.meaning {
  @extend .genericElement;
  @extend .motivationSvg;
  padding: 4% 7% !important;
  > div.title {
    border-radius: 25%;
  }
}

.value {
  @extend .genericElement;
  @extend .motivationElement;
  border-radius: 50% 50%;
  > .title {
    border-radius: 50% 50%;
  }
}

.equipment {
  @extend .internalActiveStructureElement;
  @extend .physicalElement;
  padding-top: 10px !important;
  padding-right: 10px !important;
  background-color: transparent;
  border: 0;
  > svg.border > path {
    fill: #97ff97;
  }
  > .title {
    background: rgba(black, 0.1) url('/media/node-equipment.png') no-repeat top right !important;
    background-size: 22px !important;
  }
}

.facility {
  @extend .externalActiveStructureElement;
  @extend .physicalElement;
  padding-top: 10px !important;
  padding-right: 10px !important;
  background-color: transparent;
  border: 0;
  > svg.border > path {
    fill: #97ff97;
  }
  > .title {
    background: rgba(black, 0.1) url('/media/node-facility.png') no-repeat top right !important;
    background-size: 22px !important;
  }
}

.distributionNetwork {
  @extend .internalActiveStructureElement;
  @extend .physicalElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-distribution-network.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.material {
  @extend .passiveStructureElement;
  @extend .physicalElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-material.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.resource {
  @extend .structureElement;
  @extend .strategyElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-resource.png') no-repeat top 2px right 2px !important;
    background-size: 22px !important;
  }
}

.capability {
  @extend .behaviorElement;
  @extend .strategyElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-capacity.png') no-repeat top 2px right 2px !important;
    background-size: 15px !important;
  }
}

.courseOfAction {
  @extend .behaviorElement;
  @extend .strategyElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-course-of-action.png') no-repeat top 2px right 2px !important;
    background-size: 22px !important;
  }
}

.node {
  @extend .internalActiveStructureElement;
  @extend .technologyElement;
  padding-top: 10px !important;
  padding-right: 10px !important;
  background-color: transparent;
  border: 0;
  > svg.border > path {
    fill: #c9ffc9;
  }
  > .title {
    background: rgba(black, 0.1) url('/media/node-node.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.device {
  @extend .internalActiveStructureElement;
  @extend .technologyElement;
  padding-top: 10px !important;
  padding-right: 10px !important;
  background-color: transparent;
  border: 0;
  > svg.border > path {
    fill: #c9ffc9;
  }
  > .title {
    background: rgba(black, 0.1) url('/media/node-device.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.systemSoftware {
  @extend .internalActiveStructureElement;
  @extend .technologyElement;
  padding-top: 10px !important;
  padding-right: 10px !important;
  background-color: transparent;
  border: 0;
  > svg.border > path {
    fill: #c9ffc9;
  }
  > .title {
    background: rgba(black, 0.1) url('/media/node-system-software.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.technologyCollaboration {
  @extend .collaboration;
  @extend .technologyElement;
}

.technologyInterface {
  @extend .interface;
  @extend .technologyElement;
}

.path {
  @extend .internalActiveStructureElement;
  @extend .technologyElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-path.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.communicationNetwork {
  @extend .internalActiveStructureElement;
  @extend .technologyElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-communication-network.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.technologyFunction {
  @extend .function;
  @extend .technologyElement;
}

.technologyProcess {
  @extend .process;
  @extend .technologyElement;
}

.technologyInteraction {
  @extend .interaction;
  @extend .technologyElement;
}

.technologyEvent {
  @extend .event;
  @extend .technologyElement;
}

.technologyService {
  @extend .externalBehaviorElement;
  @extend .technologyElement;
}

.artifact {
  @extend .passiveStructureElement;
  @extend .technologyElement;
  > .title {
    background: rgba(black, 0.1) url('/media/node-artifact.png') no-repeat top right !important;
    background-size: 29px !important;
  }
}

.andJunction {
  @extend .junction;
  background-color: #202020;
}

.orJunction {
  @extend .junction;
  background-color: #dfdfdf;
}

.viewNotes {
  background-color: #ffffff;
  > div.title {
    white-space: normal !important;
    > div.name {
      overflow: visible;
      text-overflow: clip;
    }
  }
}