.viewPrototypeLink {
  path.p {
    stroke: rgb(192, 255, 255) !important;
    stroke-width: 1;
    stroke-dasharray: 10, 2;
    animation: dash 1s linear infinite;
  }
}

.viewConnection {
  path.p {
    stroke: lightgray !important;
  }
}

.compositionRelationship {
  g.first {
    path.p {
      marker-start: url(#MarkerCompositionArrowSrc);
    }
  }
}

.aggregationRelationship {
  g.first {
    path.p {
      marker-start: url(#MarkerAggregationArrowSrc);
    }
  }
}

.assignmentRelationship {
  g.first {
    path.p {
      marker-start: url(#MarkerAssignmentArrowSrc);
    }
  }
  g.last {
    path.p {
      marker-end: url(#MarkerAssignmentArrowDst);
    }
  }
}

.realizationRelationship {
  path.p {
    stroke-dasharray: 4, 4;
  }
  g.last {
    path.p {
      marker-end: url(#MarkerRealizationArrowDst);
    }
  }
}

.servingRelationship {
  path.p {
    stroke-width: 0.5 !important;
  }
  g.last {
    path.p {
      marker-end: url(#MarkerServingArrowDst);
    }
  }
}

.influenceRelationship {
  textpath.plus { fill: lime; }
  textpath.minus { fill: red; }

  path.p {
    stroke-dasharray: 4, 2;
  }
  g.last {
    path.p {
      marker-end: url(#MarkerInfluenceArrowDst);
    }
  }
}

.accessRelationship {
  path.p {
    stroke-dasharray: 1, 2;
  }
  &.r > g.first {
    path.p {
      marker-start: url(#MarkerAccessArrowSrc);
    }
  }
  &.w > g.last {
    path.p {
      marker-end: url(#MarkerAccessArrowDst);
    }
  }
}

.flowRelationship {
  path.p {
    stroke-dasharray: 4, 2;
  }
  g.last {
    path.p {
      marker-end: url(#MarkerFlowArrowDst);
    }
  }
}

.triggeringRelationship {
  g.last {
    path.p {
      marker-end: url(#MarkerTriggerArrowDst);
    }
  }
}

.specializationRelationship {
  g.last {
    path.p {
      marker-end: url(#MarkerSpecializationArrowDst);
    }
  }
}

.associationRelationship {
  textpath { fill: burlywood  !important; }
}

.invalid {
  path.p {
    stroke: brown  !important;
  }
}

.derived {
  path.p {
    stroke: darkorange !important;
  }
}