
.viewPrototypeLink {
  path.p {
    stroke: rgb(192, 255, 255) !important;
    stroke-width: 1;
    stroke-dasharray: 10, 2;
    animation: dash 1s linear infinite;
  }
}

.viewConnection {
  path.p {
    stroke: rgb(192, 192, 192) !important;
  }
}

.relationship {
  text {
    > textpath {
      fill: lightgray;
    }
    cursor: default;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.compositionRelationship {
  @extend .relationship;
  g.first {
    path.p {
      marker-start: url(#MarkerCompositionArrowSrc);
    }
  }
}

.aggregationRelationship {
  @extend .relationship;
  g.first {
    path.p {
      marker-start: url(#MarkerAggregationArrowSrc);
    }
  }
}

.assignmentRelationship {
  @extend .relationship;
  g.first {
    path.p {
      marker-start: url(#MarkerAssignmentArrowSrc);
    }
  }
  g.last {
    path.p {
      marker-end: url(#MarkerAssignmentArrowDst);
    }
  }
}

.realizationRelationship {
  @extend .relationship;
  path.p {
    stroke-dasharray: 4, 4;
  }
  g.last {
    path.p {
      marker-end: url(#MarkerRealizationArrowDst);
    }
  }
}

.servingRelationship {
  @extend .relationship;
  path.p {
    stroke-width: 0.5 !important;
  }
  g.last {
    path.p {
      marker-end: url(#MarkerServingArrowDst);
    }
  }
}

.influenceRelationship {
  @extend .relationship;
  textpath.plus { fill: lightgreen; }
  textpath.minus { fill: red; }

  path.p {
    stroke-dasharray: 4, 2;
  }
  g.last {
    path.p {
      marker-end: url(#MarkerInfluenceArrowDst);
    }
  }
}

.accessRelationship {
  @extend .relationship;
  path.p {
    stroke-dasharray: 1, 2;
  }
  &.r > g.first {
    path.p {
      marker-start: url(#MarkerAccessArrowSrc);
    }
  }
  &.w > g.last {
    path.p {
      marker-end: url(#MarkerAccessArrowDst);
    }
  }
}

.flowRelationship {
  @extend .relationship;
  path.p {
    stroke-dasharray: 4, 2;
  }
  g.last {
    path.p {
      marker-end: url(#MarkerFlowArrowDst);
    }
  }
}

.triggeringRelationship {
  @extend .relationship;
  g.last {
    path.p {
      marker-end: url(#MarkerTriggerArrowDst);
    }
  }
}

.specializationRelationship {
  @extend .relationship;
  g.last {
    path.p {
      marker-end: url(#MarkerSpecializationArrowDst);
    }
  }
}

.invalid {
  path.p {
    stroke: rgb(192, 0, 0) !important;
  }
}