.junction {
  background-color: #202020;
}

.layer {
  background-color: #ffffff;
}

.compositionLayer {
  @extend .layer;
  background-color: #ffffff;
}

.implementationLayer {
  @extend .layer;
  background-color: #ffe0e0;
}

.motivationLayer {
  @extend .layer;
  background-color: #e5e5ff;
}

.physicalLayer {
  @extend .layer;
  background-color: #97ff97;
}

.strategyLayer {
  @extend .layer;
  background-color: #ffffa7;
}

.coreLayer {
  @extend .layer;
}

.applicationLayer {
  @extend .coreLayer;
  background-color: #c2f0ff;
}

.businessLayer {
  @extend .coreLayer;
  background-color: #ffffcc;
}

.technologyLayer {
  @extend .coreLayer;
  background-color: #c9ffc9;
}

.element {
  color: black;
  border: solid 2px black;
  background-repeat: no-repeat;
  background-position: top right;
  background-image: none;
  background-size: 24px;
}

.compositeElement {
  @extend .element;
}

.compositionElement {
  @extend .compositionLayer;
}

.structureElement {
  @extend .element;
}

.activeStructureElement {
  @extend .structureElement;
}

.internalActiveStructureElement {
  @extend .activeStructureElement;
}

.applicationElement {
  @extend .applicationLayer;
}

.collaboration {
  @extend .internalActiveStructureElement;
  background-image: url('/media/node-collaboration.png');
}

.externalActiveStructureElement {
  @extend .activeStructureElement;
  background-image: url('/media/node-interface.png');
}

.behaviorElement {
  @extend .element;
  border-radius: 10px;
}

.internalBehaviorElement {
  @extend .behaviorElement;
}

.function {
  @extend .internalBehaviorElement;
  background-image: url('/media/node-function.png');
}

.interaction {
  @extend .internalBehaviorElement;
  background-image: url('/media/node-interaction.png');
}

.process {
  @extend .internalBehaviorElement;
  background-image: url('/media/node-process.png');
}

.event {
  @extend .behaviorElement;
  background-image: url('/media/node-event.png');
}

.externalBehaviorElement {
  @extend .behaviorElement;
  background-image: url('/media/node-service.png');
  // border-radius: 50px / 100px;
}

.elementWithTopRow:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  right: 2px;
  height: 1px;
  border-top: 1px solid black;
}

.elementWithBottomRow:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 2px;
  right: 2px;
  height: 1px;
  border-bottom: 1px solid black;
}


.passiveStructureElement {
  @extend .structureElement;
}

.businessElement {
  @extend .businessLayer;
}

.implementationElement {
  @extend .implementationLayer;
}

.motivationElement {
  @extend .motivationLayer;
}

.genericElement {
  @extend .element;
}

.physicalElement {
  @extend .physicalLayer;
}

.strategyElement {
  @extend .strategyLayer;
}

.technologyElement {
  @extend .technologyLayer;
}

.grouping {
  @extend .compositeElement;
  @extend .compositionElement;
}

.location {
  @extend .compositeElement;
  @extend .compositionElement;
}

.applicationComponent {
  @extend .internalActiveStructureElement;
  @extend .applicationElement;
}

.applicationCollaboration {
  @extend .collaboration;
  @extend .applicationElement;
}

.applicationInterface {
  @extend .externalActiveStructureElement;
  @extend .applicationElement;
}

.applicationFunction {
  @extend .function;
  @extend .applicationElement;
}

.applicationInteraction {
  @extend .interaction;
  @extend .applicationElement;
}

.applicationProcess {
  @extend .process;
  @extend .applicationElement;
}

.applicationEvent {
  @extend .event;
  @extend .applicationElement;
}

.applicationService {
  @extend .externalBehaviorElement;
  @extend .applicationElement;
}

.dataObject {
  @extend .passiveStructureElement;
  @extend .applicationElement;
  @extend .elementWithTopRow;
}

.businessActor {
  @extend .internalActiveStructureElement;
  @extend .businessElement;
  background-image: url('/media/node-actor.png');
}

.businessRole {
  @extend .internalActiveStructureElement;
  @extend .businessElement;
  background-image: url('/media/node-role.png');
}

.businessCollaboration {
  @extend .collaboration;
  @extend .businessElement;
}

.businessInterface {
  @extend .externalActiveStructureElement;
  @extend .businessElement;
}

.businessProcess {
  @extend .process;
  @extend .businessElement;
}

.businessFunction {
  @extend .function;
  @extend .businessElement;
}

.businessInteraction {
  @extend .interaction;
  @extend .businessElement;
}

.businessEvent {
  @extend .event;
  @extend .businessElement;
}

.businessService {
  @extend .externalBehaviorElement;
  @extend .businessElement;
}

.businessObject {
  @extend .passiveStructureElement;
  @extend .businessElement;
  @extend .elementWithTopRow;
}

.contract {
  @extend .passiveStructureElement;
  @extend .businessElement;
  @extend .elementWithTopRow;
  @extend .elementWithBottomRow;
}

.representation {
  @extend .passiveStructureElement;
  @extend .businessElement;
  @extend .elementWithTopRow;
  // TODO: try to implement the original curve
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 10px;
}

.product:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75%;
  height: 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.product {
  @extend .compositeElement;
  @extend .businessElement;
}

.workPackage {
  @extend .behaviorElement;
  @extend .implementationElement;
}

.deliverable {
  @extend .passiveStructureElement;
  @extend .implementationElement;
}

.implementationEvent {
  @extend .event;
  @extend .implementationElement;
}

.plateau {
  @extend .compositeElement;
  @extend .implementationElement;
}

.gap {
  @extend .passiveStructureElement;
  @extend .implementationElement;
}

.stakeholder {
  @extend .externalActiveStructureElement;
  @extend .motivationElement;
}

.driver {
  @extend .genericElement;
  @extend .motivationElement;
}

.assessment {
  @extend .genericElement;
  @extend .motivationElement;
}

.goal {
  @extend .genericElement;
  @extend .motivationElement;
}

.outcome {
  @extend .genericElement;
  @extend .motivationElement;
}

.principle {
  @extend .genericElement;
  @extend .motivationElement;
}

.requirement {
  @extend .genericElement;
  @extend .motivationElement;
}

.constraint {
  @extend .genericElement;
  @extend .motivationElement;
}

.meaning {
  @extend .genericElement;
  @extend .motivationElement;
}

.value {
  @extend .genericElement;
  @extend .motivationElement;
}

.equipment {
  @extend .internalActiveStructureElement;
  @extend .physicalElement;
}

.facility {
  @extend .externalActiveStructureElement;
  @extend .physicalElement;
}

.distributionNetwork {
  @extend .internalActiveStructureElement;
  @extend .physicalElement;
}

.material {
  @extend .passiveStructureElement;
  @extend .physicalElement;
}

.resource {
  @extend .structureElement;
  @extend .strategyElement;
}

.capability {
  @extend .behaviorElement;
  @extend .strategyElement;
}

.courseOfAction {
  @extend .behaviorElement;
  @extend .strategyElement;
}

.node {
  @extend .internalActiveStructureElement;
  @extend .technologyElement;
}

.device {
  @extend .internalActiveStructureElement;
  @extend .technologyElement;
}

.systemSoftware {
  @extend .internalActiveStructureElement;
  @extend .technologyElement;
}

.technologyCollaboration {
  @extend .collaboration;
  @extend .technologyElement;
}

.technologyInterface {
  @extend .externalActiveStructureElement;
  @extend .technologyElement;
}

.path {
  @extend .internalActiveStructureElement;
  @extend .technologyElement;
}

.communicationNetwork {
  @extend .internalActiveStructureElement;
  @extend .technologyElement;
}

.technologyFunction {
  @extend .function;
  @extend .technologyElement;
}

.technologyProcess {
  @extend .process;
  @extend .technologyElement;
}

.technologyInteraction {
  @extend .interaction;
  @extend .technologyElement;
}

.technologyEvent {
  @extend .event;
  @extend .technologyElement;
}

.technologyService {
  @extend .externalBehaviorElement;
  @extend .technologyElement;
}

.artifact {
  @extend .passiveStructureElement;
  @extend .technologyElement;
  background-image: url('/media/node-artifact.png');
}

.andJunction {
  @extend .junction;
}

.orJunction {
  @extend .junction;
}

