.diagram-root {
	//width: 1400px;
	height: 800px;
	background: rgb(60,60,60);
	display: flex;
}

.parent-container {
  flex: 1;
  display: flex;
  flex-direction: row;

  .diagram-drop-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .diagrams-canvas {
      flex: 1;
      background: rgb(60, 60, 60);

      .diagram-center {
        position: relative;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.diagrams-canvas {
  position: relative;
  flex-grow: 1;
  display: flex;
  cursor: move;
  overflow: hidden;

  .selector {
    position: absolute;
    background-color: rgba(0,192,255,0.2);
    border: solid 2px rgb(0,192,255);
  }

  svg.link-view {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-origin: 0 0;
    overflow: visible;
    z-index: 9999; // over 9000
    pointer-events: none;
  }

  div.node-view {
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
    pointer-events: none;
    transform-origin: 0 0;
    z-index: 1;
  }

  .node {
    position: absolute;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    user-select: none;
    cursor: move;
    pointer-events: all;

    &.selected {
      >* {
        border-color:rgb(0,192,255) !important;
        -webkit-filter: drop-shadow( 0 0 20px rgba(0,192,255,0.5));
      }
      >*:before {
        border-color:rgb(0,192,255) !important;
        -webkit-filter: drop-shadow( 0 0 20px rgba(0,192,255,0.5));
      }
      >*:after {
        border-color:rgb(0,192,255) !important;
        -webkit-filter: drop-shadow( 0 0 20px rgba(0,192,255,0.5));
      }
      >* > svg.border > path {
        stroke: rgb(0,192,255) !important;
      }
    }
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 24;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  svg.link-view {

    rect.port {
      pointer-events: all;
      fill: rgba(white,0.1);
      &:hover {
        fill: rgb(192,255,0);
      }
    }


    g.link {
      path {
        fill: none;
        stroke: black;

        &.p {
          stroke-linecap: round;
          stroke-width: 1;

          &.selected {
            stroke: rgb(0, 192, 255) !important;
            //stroke-dasharray: 10, 2;
            animation: dash 1s linear infinite;
          }
        }

        &.t {
          pointer-events: all;
          stroke-linecap: round;
          stroke-width: 20;
        }

      }
    }

    g.point {
      circle {

        &.p {
          fill: rgba(white, 0.5);
          &.selected {
            fill: rgb(0, 192, 255);
          }
        }

        &.t {
          pointer-events: all;
        }

      }
    }

    g.point-j {
      circle {

        &.p {
          fill: rgba(black, 0.5);
          &.selected {
            fill: rgb(0, 192, 255);
          }
        }

        &.t {
          pointer-events: all;
        }

      }
    }

    //@import 'nodes/svg.nodes';
    @import 'edges/svg.edges';

  }

  div.node {
    @import 'nodes/div.nodes';
    div.a-node {

      padding: 5px;
      font-family: Arial;
      overflow: visible;
      font-size: 10px;
      //box-shadow: 0 0 10px rgba(black, 0.5);
      width: 100%;
      height: 100%;

      .title {
        background-color: rgba(black, 0.1);
        height: 100%;
        width: 100%;

        display: flex;
        white-space: nowrap;
        > * {
          align-self: center;
        }
        .fa {
          padding: 5px;
          opacity: 0.2;
          cursor: pointer;

          &:hover {
            opacity: 1.0;
          }
        }
        .name {
          flex-grow: 1;
          padding: 0px 1px;

          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      svg.border {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

    }
  }

  .node > .resize {

    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-color: black;

    &.ct {
      top: -6px;
      left: 50%;
      margin-left: -3px;
      cursor: n-resize;
    }
    &.cb {
      bottom: -6px;
      left: 50%;
      margin-left: -3px;
      cursor: s-resize;
    }
    &.lc {
      left: -6px;
      top: 50%;
      margin-top: -3px;
      cursor: w-resize;
    }
    &.rc {
      right: -6px;
      top: 50%;
      margin-top: -3px;
      cursor: e-resize;
    }
    &.lt {
      left: -6px;
      top: -6px;
      cursor: nw-resize;
    }
    &.rt {
      right: -6px;
      top: -6px;
      cursor: ne-resize;
    }
    &.lb {
      left: -6px;
      bottom: -6px;
      cursor: sw-resize;
    }
    &.rb {
      right: -6px;
      bottom: -6px;
      cursor: se-resize;
    }

  }

}

