.diagram-root {
	width: 1400px;
	height: 1050px;
	background: rgb(60,60,60);
	display: flex;
}

.parent-container {
  flex: 1;
  display: flex;
  flex-direction: row;

  .diagram-drop-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .diagrams-canvas {
      flex: 1;
      background: rgb(60, 60, 60);
    }
  }
}

.diagrams-canvas {
  position: relative;
  flex-grow: 1;
  display: flex;
  cursor: move;
  overflow: hidden;

  .point {
    fill: rgba(white,0.5);
    &.selected {
      fill: rgb(0,192,255);
    }
  }

  .selector {
    position: absolute;
    background-color: rgba(0,192,255,0.2);
    border: solid 2px rgb(0,192,255);
  }

  svg.link-view {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-origin: 0 0;
    overflow: visible;
    z-index: 9999; // over 9000
    pointer-events: none;
  }

  div.node-view {
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
    pointer-events: none;
    transform-origin: 0 0;
    z-index: 1;
  }

  .node {
    position: absolute;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    user-select: none;
    cursor: move;
    pointer-events: all;

    &.selected {
      >* {
        border-color:rgb(0,192,255) !important;
        -webkit-filter: drop-shadow( 0 0 20px rgba(0,192,255,0.5));
      }
      >*:before {
        border-color:rgb(0,192,255) !important;
        -webkit-filter: drop-shadow( 0 0 20px rgba(0,192,255,0.5));
      }
      >*:after {
        border-color:rgb(0,192,255) !important;
        -webkit-filter: drop-shadow( 0 0 20px rgba(0,192,255,0.5));
      }
      >* > svg.border > path {
        stroke: rgb(0,192,255) !important;
      }
    }
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 24;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  .port {
    width: 15px;
    height: 15px;
    background: rgba(white,0.1);
    &:hover,&.selected {
      background: rgb(192,255,0);
    }
  }

  svg.link-view {

    path {
      fill:none;
      pointer-events:all;
      stroke: black;
      stroke-width: 1;

      &.selected {
        stroke: rgb(0,192,255) !important;
        stroke-dasharray: 10,2;
        animation: dash 1s linear infinite;
      }
    }

    //@import 'nodes/svg.nodes';
    @import 'edges/svg.edges';

  }

  div.node {
    @import 'nodes/div.nodes';
    div.a-node {

      padding: 5px;
      font-family: Arial;
      overflow: visible;
      font-size: 10px;
      //box-shadow: 0 0 10px rgba(black, 0.5);
      width: 100%;
      height: 100%;

      .title {
        background-color: rgba(black, 0.1);
        height: 100%;
        width: 100%;

        display: flex;
        white-space: nowrap;
        > * {
          align-self: center;
        }
        .fa {
          padding: 5px;
          opacity: 0.2;
          cursor: pointer;

          &:hover {
            opacity: 1.0;
          }
        }
        .name {
          flex-grow: 1;
          padding: 0px 1px;

          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .ports {
        display: flex;
        background-image: linear-gradient(rgba(black, 0.1), rgba(black, 0.2));
        .center {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      svg.border {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

    }
  }

}



