.palette {
  width: 10%;
  min-width: 200px;
  //padding: 10px;

  .layer {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
  }

  //div.x-node > div.a-node > div.title {
  //  background-position: center !important;
  //}

}